:root{
    --mainColor:rgb(195, 250, 250);
    --textColor:rgb(55, 128, 138);
    --btnColor:rgb(81, 177, 17);
    --backgroundColor:rgb(252, 252, 249);
    --inputColor:rgb(1, 129, 146);
    --hoverColor: rgb(238, 184, 157);
}
