body{
    margin: 0 auto;
    width:100%;
    background-color: var(--backgroundColor);
}



:root{
    --mainColor:rgb(247, 182, 63);
    --textColor:rgb(55, 128, 138);
    --buttonColor:rgb(174, 177, 1);
    --btnColor:rgb(38, 96, 0);
    --backgroundColor:rgb(255, 254, 201);
    --inputColor:rgb(221, 170, 94);
    --hoverColor: rgb(250, 150, 100);
}

/*Header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    background-color: var(--mainColor);
}

header h2{
    align-self: center;
    font-size: 2.9em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    color: var(--textColor);
}

header h2:hover{
    cursor:default;
}

#theme{
    flex: right;
    align-items: center;
    display: flex;
    padding: 10px;
}

.dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 20%;
    margin:5px;
    border: 0.5px solid black;
}

#a{
    background-color:rgb(207, 135, 106);
}

#b{
    background-color:#fff;
}

#c{
    background-color:rgb(65, 13, 0);
}

/*Section*/
#main-section{
    display: flex;
    flex-direction: column;
}

#input-area{
    width: 46.5%;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--inputColor);
    width: 40%;
    margin: 0 auto;
    padding: 60px;
    border-radius: 10px;
}

.search{
    background-color: var(--backgroundColor);
    border-radius: 5px;
    width: 30%;
}

#textarea{
    background-color: var(--backgroundColor);
    border-radius:5px;
    width: 90%;
    height:200px;
}

.save{    
    margin-top:3px;
    color:var(--btnColor);
    background-color: var(--mainColor);
    border: 1px var(--textColor) solid;
    border-radius: 3px;
}

.save:hover{
    background-color: var(--hoverColor);
    color:var(--textColor);
    cursor:pointer;
}

#display-area{
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--inputColor);
    word-wrap: break-word;
    margin:0 auto;
    border-radius: 10px;
    max-width: 46.5%;
}

#display-area li{
    background-color: var(--backgroundColor);
    margin: 10px;
    border-radius:5px;
    max-width: 98%;
}

#button{
    color: orangered;
}

footer{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

footer h2{
    font-size:10px;
}